/* .Container {
  background-color: #a3a7b7;
  border-radius: 25px;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
} */

.BatteryLog {
  display: flex;
  flex-direction: column;
}

.bootstrapTable {

}

/* .TableButtons {
  display: flex;
  float: right;
} */

.center {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

.form-control {
  width: 20% !important;
}

.dropdown-menu {
  min-width: 10px !important;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin: 0 70px 20px 0;
}

#_id {
  display: none;
}
