.BatteryLog {
  display: flex;
  flex-direction: column;
}

.BatteryLog .header {
  margin-left: 10px;
}

.BatteryLog .bootstrapTable {
  /* height: 450px; */
}

.BatteryLog .date {
  width: 200px;
}

.BatteryLog .center {
  width: 120px;
  text-align: center;
  align-items: center;
}

.BatteryLog .function {
  width: 110px;
  text-align: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .BatteryLog .form-control {
    width: 250px;
  }
}

.BatteryLog .dropdown-menu {
  min-width: 10px !important;
}

.BatteryLog .tableOptions {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.BatteryLog .tableOptions .sortDropdown {
  padding: 10px 20px 0 0;
  align-items: flex-start;
  margin-left: 10px;
}

.BatteryLog .tableOptions .searchBar {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 0 0;
}

.BatteryLog .tableOptions .pagination {
  margin-left: auto;
  margin-top: 5px;
  margin-right: 10px;
  align-items: flex-start;
}

.BatteryLog #_id {
  display: none;
}

.BatteryLog .loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
