.BatteryLog {
  display: flex;
  flex-direction: column;
}

.BatteryLog .bootstrapTable {
  height: 450px;
}

.date {
  width: 200px;
}

.center {
  width: 120px;
  text-align: center;
  align-items: center;
}

.function {
  width: 110px;
  text-align: center;
  align-items: center;
}

.form-control {
  width: 250px;
}

.dropdown-menu {
  min-width: 10px !important;
}

.tableOptions {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.sortDropdown {
  padding: 0 20px 0 0;
  justify-content: flex-end;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin: 0 70px 20px 0;
}

.pagination {
  display: flex;
  position: absolute;
  top: 72px;
  right: 20px;
}

#_id {
  display: none;
}
