.Report {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 800px;
}

.Report h1 {
  margin: 10px 0 30px 10px;
}

.Report h3 {
  margin: 0 0 30px 0;
}

.Report .up {
  position: fixed;
  top: 5%;
  right: 1%;
}

.Report .CircularProgressbar {
    width: 30% !important;
}

.Report .progressbar-red .CircularProgressbar-path {
  stroke: red !important;
}

.Report .progressbar-red .CircularProgressbar-text {
  fill: red !important;
}

.Report .progressbar-green .CircularProgressbar-path {
  stroke: green !important;
}

.Report .progressbar-green .CircularProgressbar-text {
  fill: green !important;
}

.Report .reportSummary {
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  background-color: #eaedef;
}

.Report .capacityPlot {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #eaedef;
}

.Report .dischargingPlot {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #eaedef;
}
