.Report {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 800px;
}

.Report .up {
  /* display: none; */
  position: fixed;
  top: 5%;
  right: 1%;
}

.Report .CircularProgressbar {
    width: 30% !important;
}

.Report .progressbar-red .CircularProgressbar-path {
  stroke: red !important;
}

.Report .progressbar-red .CircularProgressbar-text {
  fill: red !important;
}

.Report .progressbar-green .CircularProgressbar-path {
  stroke: green !important;
}

.Report .progressbar-green .CircularProgressbar-text {
  fill: green !important;
}
